* {
  /* background-color: rgba(209, 193, 193, 0.5); */
  /* for debugging */
}

#clock {
  color: white;
  text-align: center;
  font-family: 'Gruppo', cursive;
  font-size: 7em;
}

.clock-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: calc(50vh - 100px);
}
